<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{views/common/masterlayout}">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
	
	<div class="container">
		<div class="hidden-xs text-center"></div>
			<div class="text-center">
			<div><h2>It's not you, it's us, please give us some time and try again</h2></div>
		</div>
	</div><!-- ./ container -->

<!-- The footer coming from layout -->
</th:block>
</body>
</html>